/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  background: #0b2230;
  border-bottom: 1px solid #081925;
  height: $masthead-height;
  top: 0;
  width: 100%;

  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1em 1em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: 1400px;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead .greedy-nav {
  background: transparent;
}

.masthead .greedy-nav .visible-links > li > a {
  color: #e2e8f0;
}

.masthead .greedy-nav .visible-links > li > a:hover,
.masthead .greedy-nav .visible-links > li > a:focus,
.masthead .greedy-nav .visible-links > li > a:active {
  color: #93c5fd;
}

.masthead .greedy-nav .visible-links > li.active > a {
  color: #f8fafc;
  font-weight: 700;
}

.masthead .greedy-nav .visible-links > li > a:before {
  background: #7fb3d5;
}

.masthead .greedy-nav .visible-links > li.active > a:before {
  background: #93c5fd;
  transform: scaleX(1);
}

.masthead .greedy-nav .visible-links > .masthead__menu-item--lg > a {
  color: #f8fafc;
}

.masthead .greedy-nav button {
  background-color: #185676;
  color: #ffffff;
}

.masthead .greedy-nav .hidden-links a {
  color: #0f172a;
}

.masthead .greedy-nav .hidden-links a:hover {
  color: #185676;
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;

    a {
      font-size: 1.2em;

      @include breakpoint($medium) {
        font-size: 1.35em;
      }
    }
  }
}
